@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* Paleta Base 
color: #F2EADF; #F29E6D;  #F26849; #BF5841;  #260101; }
*/



body {
    font-family: "Dosis", sans-serif;
    color: #490101;
    text-align: center;
    background: linear-gradient(45deg , #F29E6D, #BF5841);
    background-attachment: fixed;
    height: 100vh; /* Garantir que o fundo cubra toda a altura da tela */
    margin-top: 0px;
    margin-bottom: 0px;
}

main {
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    height: auto;
    background-color: #f7daad;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.527);
    padding-bottom: 40px;
}

.menu {
    color: #490101;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 1px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    height: 40px;
}

.btmenu {
    padding: 0;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 1.3em;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #260101;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#bf584100, #f7daad, #f7daad , #f7daad ,#f7daad );
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    box-shadow: 3px 3px 3px rgba(43, 16, 5, 0.644);
    cursor: pointer;
    
}

.btmenu:hover {
    color: #260101;
    background: linear-gradient(to bottom,#9c483500, #b9a484, #b6a07f , #b49f7e ,#a79274 );
    box-shadow: 4px 4px 4px rgba(43, 16, 5, 0.644);
    transform: translateY(4px);
}

.pagina-atual {
    transform: translateY(4px);
}

.grid-of-grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    padding: 20px;
    margin: auto;
}

.grid-container {
    background: linear-gradient(60deg, rgba(214, 175, 124, 0.377), rgba(207, 142, 68, 0.349), #f7d9ad86);
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 3px;
    justify-content: center;
    border-radius: 5px;
    border-width: 1px;
    aspect-ratio: 1 / 1;
    box-shadow: inset 5px 5px 5px rgba(43, 16, 5, 0.356);
}

.grid-item input {
    font-family: "Dosis", sans-serif;
    font-size: 1.8em;
    text-shadow: 2px 2px 3px rgba(43, 16, 5, 0.356);
    display: flex;
    background-color: #26010100;
    width: 100%;
    height: 100%;
    text-align: center;
    border-style: none;
    border-radius: 8px;
    box-sizing: border-box;
    gap: 10px;
}

.grid-item input:hover {
    background-color: #26010123;
}

.numeros {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 1.8em;
    width: 50px;
    min-height: 50px;
    color: #490101;
    background-color: #f2684960;
    margin: auto;
    border-radius: 100%;
    border-style: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.37);
    text-align: center;
    padding: 0;
}

.numeros:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.37);
    font-weight: 700;
    cursor: pointer;
    background-color: #f2684981;
}

#botoesNum {
    padding-left: 13%;
    padding-right: 13%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 botões na primeira linha */
    grid-gap: 10px;
    justify-content: center;
    padding-bottom: 5px;
  }

#botoesNum2 {
    padding-left: 13%;
    padding-right: 13%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 botões na segunda linha */
    grid-gap: 10px;
    justify-content: center;
    cursor: pointer;
  }

.atualizaNivel {
    padding: 0;
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
    color: #260101;
    background-color: #f2684960;
    margin: auto;
    width: 17%;
    min-height: 30px;
    border-radius: 6%;
    border-style: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.37);
    
}

.atualizaNivel:hover {
    border-style: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.37);
    font-weight: 600;
    cursor: pointer;
    
}

.atualiza {
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    color: #260101;
    background-color: #f2684960;
    margin: auto;
    align-self: center;
    width: 60%;
    min-height: 30px;
    border-radius: 6px;
    border-style: none;
    border-color: #f2684960;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.37);
    padding: 0;
}

#timer {
    font-family: "Dosis", sans-serif;
}
.atualiza:hover {
    border-style: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.37);
    font-weight: 700;
    cursor: pointer;
    
}
.rodape {
    font-family: "Cabin Sketch", sans-serif;
    position: fixed;
    bottom: 0px;
    left:0px;
    right:0px;
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    background: linear-gradient(to top, #f7daad, #f7daad, #f7daad, #f1d9b5);
    display: flex;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.527);
    padding: 0px;
 
}
.rodape:hover {
    cursor: default;
    padding: 2px;
}



p {
    text-align: justify;
    text-indent: 30px;
    margin:auto;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    margin: 10px;
    text-align: justify;
}

h1 {
    color:#260101;
    font-size: 16px;
    padding-top: 10px;
    text-shadow: 3px 3px 5px #2601018e;
    margin: 0;
}
h2 {
    padding: 5%;
    color:#260101;
    font-size: 16px;
    margin: 0px;
    text-shadow: 3px 3px 5px #2601018e;

}

.nomeProRanking {
    width: 60%;
    min-height: 30px;
    border-radius: 6px;
}

.fimDeJogo {
    margin: 10px;
}

.spinner {
    border: 8px solid #f3f3f3; /* Cor de fundo do spinner */
    border-top: 8px solid #3498db; /* Cor da borda superior */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animação do giro */
    margin: 20px auto; /* Centraliza horizontalmente */
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .select {
    background: linear-gradient(to left, #26010123, #26010123);
  }

  #mostraNumeroDoJogo {
    padding: 0;
  }

.erro-vermelho {
    color:red;
}


.paragrafoRanking {
    text-align: center;
    margin: auto;
    padding: 0;
    text-indent: 0;
    color:#260101;
    font-size: 14px;
    text-shadow: 1px 1px 2px #2601018e;

}

#tituloPagina {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 2em;
}

  .tabelaRanking {
    padding: 10px;
    margin: auto;
    width: 100%;
    margin-bottom: 30px;


  }

  caption {
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  }

th {
    background-color: #f268498e;
    padding: 2% 0% 2% 0%;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

td {
    width: 20%;
    height: 30px;
    background: linear-gradient(to bottom, #f7daad, #31020215);
    border-radius: 4px;
    box-shadow: C
}

.coluna-um {
    width: 40%;
}

th:hover, td:hover {
    background-color: rgba(255, 0, 0, 0.164);
}

.nomes-ranking {
    text-align: justify;
}

.textoRodape {
    margin: auto;
    text-indent: 0;
    text-shadow: 3px 3px 2px #2601014d; 
}

.textoRodape:hover {
    margin: auto;
    text-indent: 0;
    text-shadow: 3px 3px 2px #2601014d; 
}

.inputMaroto {
    color: #260101;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.error {
    border-bottom: red;
    color: red;
}

.text-center {
    text-align: center;
}

.what-is-new {
    outline-width: 2px;
    outline-color: rgb(255, 72, 0);
    outline-style: dashed;
    border-radius: 10px;
    display: inline-flex;
    margin: 15px;
    padding: 5px;
    text-align: justify;
}

h4 {
    margin: 0;
}
