<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuDoKu</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1>SuDoKu</h1>
    <div class="grid-container">
        <div class="grid-item"><input type="text" maxlength="1" value="1"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="2"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="3"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="4"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="5"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="6"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="7"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="8"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="9"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="10"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="11"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="12"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="13"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="14"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="15"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="16"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="17"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="18"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="19"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="20"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="21"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="22"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="23"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="24"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="25"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="26"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="27"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="28"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="29"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="30"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="31"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="32"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="33"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="34"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="35"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="36"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="37"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="38"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="39"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="40"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="41"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="42"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="43"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="44"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="45"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="46"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="47"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="48"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="49"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="50"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="51"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="52"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="53"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="54"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="55"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="56"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="57"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="58"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="59"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="60"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="61"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="62"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="63"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="64"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="65"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="66"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="67"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="68"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="69"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="70"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="71"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="72"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="73"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="74"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="75"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="76"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="77"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="78"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="79"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="80"></div>
        <div class="grid-item"><input type="text" maxlength="1" value="81"></div>

    </div>
    
</body>
</html>