@charset "UTF-8";

/* Color Theme Swatches in Hex 
.Ilustração-1-hex { color: #F2EADF; }
.Ilustração-2-hex { color: #F29E6D; }
.Ilustração-3-hex { color: #F26849; }
.Ilustração-4-hex { color: #BF5841; }
.Ilustração-5-hex { color: #260101; }
*/

h1 {
    color:#260101;
    font-size: 60px;
    margin: 0px;
    text-shadow: 3px 3px 5px #2601018e;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #F29E6D, #F26849, #BF5841, #260101);
    height: 100vh; /* Garantir que o fundo cubra toda a altura da tela */
}
main {
    width: 480px;
    background-color: #f7daad;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.527);

}

.grid-of-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 6px;
    justify-content: center;
    padding: 20px;
   
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 45px);
    gap: 4px;
    justify-content: center;
    margin-bottom: 10px;
}
.grid-item input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.atualiza {
    background-color: #BF5841;
}